<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".updateinfo"
            android:exported="true" />
        <activity
            android:name=".markleave"
            android:exported="true" />
        <activity
            android:name=".stucard"
            android:exported="true" />
        <activity
            android:name=".acacard"
            android:exported="true" />
        <activity
            android:name=".acalog"
            android:exported="true" />
        <activity
            android:name=".stulog"
            android:exported="true"
            android:label="@string/title_activity_studentlogin" />
        <activity
            android:name=".admincard"
            android:exported="true" />
        <activity
            android:name=".nonacacardview"
            android:exported="true" />
        <activity
            android:name=".adminlog"
            android:exported="true" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".nonacalogin"
            android:exported="true" />
        <activity
            android:name=".MainCardView"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>